html {
    height: 100vh;
    font-family: Baloo;
}

body {
    padding: 10px;
    background-image: linear-gradient(#0468b4, #abdaff);
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
}

/* Visually Hidden Content | Screen Reader Only */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#emoji-container {
    /* margin: 30px auto 20px; */
    margin: .5em auto 1.5em;
    text-align: center;
}

#emoji-container span {
    margin: 10px;
    font-size: 4em;
}

#push-btn,
#unshift-btn {
    background-color: #80D87F;
}

#push-btn:hover,
#unshift-btn:hover {
    background-color: #279125;
}

#shift-btn,
#pop-btn {
    background-color: #E23349;
}

#shift-btn:hover,
#pop-btn:hover {
    background-color: #b40c22;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    color: white;
    font-size: 6em;
    margin: -.5em 0 .25em;
}

input {
    margin: 0 auto 1em;
    display: block;
    border: none;
    height: 50px;
    width: 90%;
    max-width: 400px;
    background: white;
    border-radius: 6px;
    text-align: center;
    font-size: 1.25em;
    padding: .75em .5em;
}

input:focus {
    outline: none;
    border: solid 4px #0c446e;
}

button {
    font-family: Baloo;
    letter-spacing: .05em;
    font-size: 1.25em;
    background: darkcyan;
    color: white;
    border: none;
    padding: 4px 10px;
    padding: .75em 1em;
    border-radius: 6px;
    margin: 0 .5em;
    cursor: pointer;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}